/* Reset CSS */

@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* \Reset CSS */

/* Fonts */
/*
@font-face {
    font-family: '888';
    src: url('fonts/888-regular-webfont.eot');
     src: url('fonts/888-regular-webfont.eot?#iefix') format('embedded-opentype'),  
    url('fonts/888-regular-webfont.woff') format('woff'),
 url('fonts/888-regular-webfont.woff2') format('woff2'),
    url('fonts/888-regular-webfont.ttf') format('truetype'),
    url('fonts/888-regular-webfont.otf') format('opentype'), 
    url('fonts/888-regular-webfont.svg') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: '888';
    src: url('fonts/888-demibold-webfont.eot');
     src: url('fonts/888-demibold-webfont.eot?#iefix') format('embedded-opentype'),  
    url('fonts/888-demibold-webfont.woff') format('woff'),
 url('fonts/888-demibold-webfont.woff2') format('woff2'),
    url('fonts/888-demibold-webfont.ttf') format('truetype'),
    url('fonts/888-demibold-webfont.otf') format('opentype'), 
    url('fonts/888-demibold-webfont.svg') format('svg');
    font-weight: 600;
}
@font-face {
    font-family: '888';
    src: url('fonts/888-bold-webfont.eot');
     src: url('fonts/888-bold-webfont.eot?#iefix') format('embedded-opentype'),  
    url('fonts/888-bold-webfont.woff') format('woff'),
 url('fonts/888-bold-webfont.woff2') format('woff2'),
    url('fonts/888-bold-webfont.ttf') format('truetype'),
    url('fonts/888-bold-webfont.otf') format('opentype'), 
    url('fonts/888-bold-webfont.svg') format('svg');
    font-weight: bold;
}
@font-face {
    font-family: '888';
    src: url('fonts/888-black-webfont.eot');
     src: url('fonts/888-black-webfont.eot?#iefix') format('embedded-opentype'),  
    url('fonts/888-black-webfont.woff') format('woff'),
 url('fonts/888-black-webfont.woff2') format('woff2'),
    url('fonts/888-black-webfont.ttf') format('truetype'),
    url('fonts/888-black-webfont.otf') format('opentype'), 
    url('fonts/888-black-webfont.svg') format('svg');
    font-weight: 900;
}
*/
@font-face {
    font-family: '888';
    
    src: 
    url('../fonts/888-regular-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: '888';
    src:   
    url('../fonts/888-demibold-webfont.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: '888';
     src:  
    url('../fonts/888-bold-webfont.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: '888';
     src:  
    url('../fonts/888-ultra-webfont.woff') format('woff');
    font-weight: 800;
}
/* Fonts */


/* Initial */

.goDown {
  z-index: 100;
  display: block;
  text-align: center;
  font-size: 400%;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: goDown;
  -webkit-animation-duration: 1s;
  animation-name: goDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.goDown a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

@-webkit-keyframes goDown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}

.button {
  font-size: 220%;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  padding: 14px;
  box-sizing: border-box;
  border: 0 none;
  cursor: pointer;
  outline: 0;
  min-width: 220px;
  text-align: center;
  overflow: hidden;
  font-weight: 400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 3;
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.button:hover {
  background-color: #333333;
  border-color: transparent;
}

#backtotop {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 100;
  cursor: pointer;
}

#backtotop .fa {
  font-size: 45px;
  color: #c81f1f;
  padding: 10px;
}

/* /Initial */

body {
  background: #faf8ef;
  font-family: '888', sans-serif;
  color: #000000;
  font-weight: normal;
  font-size: 10px;
  position: relative;
  z-index: 1;
  text-align: center;
}

strong {
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 45px;
  box-sizing: border-box;
  margin: 0 auto;
}


/* Main CSS */

.page {
	margin-top: 20px;
}

h1 {
	font-size: 400%;
}

#game {
	text-align: center;
	margin-top: 40px;
}
.game {
	margin: 0 auto;
	background: #bbada0;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	padding: 6px;
}

.row {
	margin: 8px 0;
	display: inline-block;
	vertical-align: middle;
}

li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
	width: 100px;
	height: 100px;
	margin: 0 8px;
	color: #776e65;
	border-radius: 3px;
	background: rgba(238, 228, 218, 0.35);
	font-weight: 900;
    font-size: 45px;
    line-height: 100px;
}


.t2 {
	background: #eee4da;
}

.t4 {
	background: #ede0c8;
}

.t8 {
	color: #f9f6f2;
    background: #f2b179;
}

.t16 {
	color: #f9f6f2;
    background: #f59563;
}

.t32 {
	color: #f9f6f2;
    background: #f67c5f;
}

.t64 {
	color: #f9f6f2;
    background: #f65e3b;
}

.t128 {
	color: #f9f6f2;
    background: #edcf72;
}

.t256 {
	color: #f9f6f2;
    background: #edcc61;
}

.t512 {
	color: #f9f6f2;
    background: #edc850;
}

.t1024 {
	color: #f9f6f2;
    background: #edc53f;
	font-size: 30px;
}

.t2048 {
	color: #f9f6f2;
    background: #edc22e;
	font-size: 30px;
}

.t4096 {
	color: #f9f6f2;
    background: #3e3933;
	font-size: 30px;
}